Repository php-jsonrpc/poc-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: php-jsonrpc/poc-monorepo-pkg1, macrorepo

Improve (#34)
  .github/actions/list-packages-latest-version/action.yaml
  .github/actions/resolve-packages-branches/action.yaml
  .github/workflows/synchronize-packages.yaml
  .github/workflows/validate-github-action-configs.yaml
  builder/src/Command/ListPackagesCommand.php
  builder/src/Command/ListPackagesLatestVersionCommand.php
  builder/src/Helper/PackageHelper.php
  builder/src/Model/Package.php
  builder/src/Model/Repository.php
  composer.json
  composer.lock
Due: macrorepo

Improve
  .github/workflows/synchronize-packages.yaml
Due: none

Fix
  .github/workflows/synchronize-packages.yaml
Due: none

Improve
  .github/actions/resolve-packages-branches/action.yaml
Due: none

Improve
  .github/workflows/synchronize-package-commit-list.yaml
  .github/workflows/synchronize-package-commit.yaml
  .github/workflows/synchronize-packages.yaml
Due: none

Fix
  .github/workflows/synchronize-package-commit-list.yaml
Due: none

Improve (#35)
  .github/actions/resolve-packages-branches/action.yaml
  .github/workflows/synchronize-package-commit-list.yaml
  .github/workflows/synchronize-package-commit.yaml
  .github/workflows/synchronize-packages.yaml
Due: none

Fix
  .github/actions/resolve-packages-branches/action.yaml
Due: none

Fix
  .github/actions/resolve-packages-branches/action.yaml
  .github/workflows/synchronize-packages.yaml
Due: none

Fix & improve
  .github/workflows/synchronize-package-commit-list.yaml
  .github/workflows/synchronize-package-commit.yaml
  .github/workflows/synchronize-packages.yaml
Due: none

Fix
  README.md
  builder/src/Command/ListPackagesCommand.php
  builder/src/Helper/PackageHelper.php
  builder/src/Model/Repository.php
  composer.json
Due: macrorepo

Fix
  .github/workflows/synchronize-package-commit-list.yaml
  .github/workflows/synchronize-packages.yaml
Due: none

Improve
  .github/workflows/synchronize-package-commit-list.yaml
  .github/workflows/synchronize-packages.yaml
Due: none

Test synchro
  packages/scope1/changelogs/fragments/20230603_171738_yoanm.yml
Due: php-jsonrpc/poc-monorepo-pkg1

Fix
  .github/workflows/synchronize-package-commit-list.yaml
  .github/workflows/synchronize-package-commit.yaml
  .github/workflows/synchronize-packages.yaml
Due: none

Path conditions:
  php-jsonrpc/poc-monorepo-pkg1: any of: packages/scope1/**
  macrorepo: any of: builder/**
