Repository php-jsonrpc/poc-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: php-jsonrpc/poc-monorepo-pkg1, macrorepo

Improve
  README.md
  codecov.yml
Due: none

Fix badge
  README.md
Due: none

Improve (#4)
  README.md
  codecov.yml
Due: none

Fix codacy issues
  .github/workflows/list-packages.yaml
  .github/workflows/php-package-CI.yaml
  builder/src/Command/ListPackagesCommand.php
  builder/src/ReleaseWorker/Test2Worker.php
  builder/src/ReleaseWorker/Test3Worker.php
  builder/src/ReleaseWorker/Test4Worker.php
  builder/src/ReleaseWorker/TestWorker.php
Due: macrorepo

Fix config
  builder/config/release_stage_config.php
Due: macrorepo

Improve (#5)
  .github/workflows/list-packages.yaml
  .github/workflows/php-package-CI.yaml
  builder/config/release_stage_config.php
  builder/src/Command/ListPackagesCommand.php
  builder/src/ReleaseWorker/Test2Worker.php
  builder/src/ReleaseWorker/Test3Worker.php
  builder/src/ReleaseWorker/Test4Worker.php
  builder/src/ReleaseWorker/TestWorker.php
Due: macrorepo

Improve
  .github/actions/find-required-bump/action.yaml
  .github/actions/resolve-required-bump/action.yaml
  .github/workflows/CI.yaml
  .github/workflows/list-packages.yaml
  .github/workflows/resolve-packages-required-bump.yaml
  .github/workflows/split-packages-to-maintenance-branch.yaml
  builder/changelogs/fragments/20230518_210919_yoanm.yml
  builder/console
  builder/src/Changelog/BumpEnum.php
  builder/src/Command/.OLDChangelogRequiredBumpCommand.php
  builder/src/Command/ChangelogFragmentsRequiredBumpCommand.php
  builder/src/Command/RequiredBumpFromListCommand.php
  builder/src/Helper/BumpHelper.php
  builder/src/Helper/YamlHelper.php
  builder/src/Model/Changelog/BumpEnum.php
  builder/src/Model/Changelog/ChangeType.php
  builder/src/Model/Changelog/Changelog.php
  builder/src/Model/Changelog/Changes.php
  builder/src/Model/Changelog/Fragment.php
  builder/src/Model/Changelog/Release.php
  builder/src/Model/Package/Package.php
  builder/src/Model/Package/PackageState.php
  composer.json
Due: macrorepo

Remove useless & improve
  .github/workflows/split-packages-to-maintenance-branches.yaml
  builder/console
  builder/src/Model/Changelog/BumpEnum.php
  composer.lock
Due: macrorepo

Fix
  .github/workflows/push-to-package-branches.yaml
Due: none

Fix and improve
  .github/workflows/CI.yaml
  builder/src/Command/ChangelogFragmentsRequiredBumpCommand.php
Due: macrorepo

Improve
  .github/workflows/push-to-package-branches.yaml
Due: none

Try better job name
  .github/workflows/CI.yaml
  .github/workflows/php-package-CI.yaml
  .github/workflows/resolve-packages-required-bump.yaml
Due: none

Improve
  .github/workflows/list-packages.yaml
  .github/workflows/push-to-develop-branches.yaml
  .github/workflows/push-to-package-maintenance-branches.yaml
  builder/src/Command/ListPackagesCommand.php
Due: macrorepo

Fix code smells
  .github/workflows/resolve-packages-required-bump.yaml
  builder/src/Command/ChangelogFragmentsRequiredBumpCommand.php
  builder/src/Command/ListPackagesCommand.php
  builder/src/Command/RequiredBumpFromListCommand.php
  builder/src/Helper/BumpHelper.php
  builder/src/Helper/YamlHelper.php
  builder/src/Model/Changelog/BumpEnum.php
  builder/src/Model/Changelog/Changelog.php
  builder/src/Model/Changelog/Changes.php
  builder/src/Model/Changelog/Release.php
Due: macrorepo

Remove useless
  .github/actions/find-required-bump/action.yaml
  .github/actions/resolve-required-bump/action.yaml
  .github/workflows/push-to-package-branches.yaml
  .github/workflows/push-to-package-maintenance-branches.yaml
  .github/workflows/resolve-packages-required-bump.yaml
  builder/src/Command/ChangelogFragmentsRequiredBumpCommand.php
  builder/src/Command/RequiredBumpFromListCommand.php
Due: macrorepo

Fix
  builder/src/Command/ListPackagesCommand.php
  builder/src/Model/Changelog/Fragment.php
Due: macrorepo

Improve (#6)
  .github/workflows/CI.yaml
  .github/workflows/list-packages.yaml
  .github/workflows/php-package-CI.yaml
  .github/workflows/push-to-develop-branches.yaml
  builder/changelogs/fragments/20230518_210919_yoanm.yml
  builder/console
  builder/src/Changelog/BumpEnum.php
  builder/src/Command/.OLDChangelogRequiredBumpCommand.php
  builder/src/Command/ListPackagesCommand.php
  builder/src/Helper/BumpHelper.php
  builder/src/Helper/YamlHelper.php
  builder/src/Model/Changelog/BumpEnum.php
  builder/src/Model/Changelog/ChangeType.php
  builder/src/Model/Changelog/Changelog.php
  builder/src/Model/Changelog/Changes.php
  builder/src/Model/Changelog/Fragment.php
  builder/src/Model/Changelog/Release.php
  builder/src/Model/Package/Package.php
  builder/src/Model/Package/PackageState.php
  composer.json
  composer.lock
Due: macrorepo

Improve
  .github/workflows/push-to-develop-branches.yaml
  .github/workflows/update-branch.yaml
  .github/workflows/update-package-develop-branches.yaml
Due: none

Improve
  builder/src/Command/ListPackagesCommand.php
  builder/src/Helper/PackageHelper.php
  builder/src/Model/Package/Package.php
  builder/src/Model/Package/State.php
Due: macrorepo

Fix GHW file
  .github/workflows/update-package-develop-branches.yaml
Due: none

Improve (#7)
  .github/workflows/push-to-develop-branches.yaml
  .github/workflows/update-branch.yaml
  .github/workflows/update-package-develop-branches.yaml
  builder/src/Command/ListPackagesCommand.php
  builder/src/Helper/PackageHelper.php
  builder/src/Model/Package/Package.php
  builder/src/Model/Package/State.php
Due: macrorepo

Fix config
  .github/workflows/update-package-develop-branches.yaml
Due: none

Fix config (#8)
  .github/workflows/update-package-develop-branches.yaml
Due: none

Add scope1 package
  packages/scope1/.gitignore
  packages/scope1/.remarkignore
  packages/scope1/.remarkrc
  packages/scope1/CODE_OF_CONDUCT.md
  packages/scope1/LICENSE
  packages/scope1/README.md
  packages/scope1/changelogs/.gitignore
  packages/scope1/changelogs/Makefile
  packages/scope1/changelogs/config.yaml
  packages/scope1/changelogs/fragments/.gitkeep
  packages/scope1/changelogs/fragments/20230518_210919_yoanm.yml
  packages/scope1/composer.json
  packages/scope1/src/Dummy.php
Due: php-jsonrpc/poc-monorepo-pkg1

Fix
  .github/actions/find-updated-packages/action.yaml
  packages/scope1/test.php
Due: php-jsonrpc/poc-monorepo-pkg1

Improve CI
  .github/actions/list-packages/action.yaml
  .github/workflows/package-CI.yaml
  packages/scope1/.composer-require-checker.json
  packages/scope1/Makefile
Due: php-jsonrpc/poc-monorepo-pkg1

Fix composer require checker
  packages/scope1/.composer-require-checker.json
  packages/scope1/composer.json
  packages/scope1/src/Dummy.php
  packages/scope1/src/Model/Dummy.php
  packages/scope1/tests/Model/DummyTest.php
Due: php-jsonrpc/poc-monorepo-pkg1

Add behat test
  packages/scope1/behat.yml
  packages/scope1/features/dummy.feature
  packages/scope1/src/Model/Dummy.php
  packages/scope1/tests/Behat/Context/DummyContext.php
  packages/scope1/tests/Technical/Model/DummyTest.php
Due: php-jsonrpc/poc-monorepo-pkg1

Improve CI
  .github/actions/list-packages/action.yaml
Due: none

Fix PHPStan
  packages/scope1/tests/Behat/Context/DummyContext.php
  packages/scope1/tests/PHPStan/.phpstan-sources-baseline.neon
Due: php-jsonrpc/poc-monorepo-pkg1

Improve
  packages/scope1/.composer-require-checker.json
  packages/scope1/.gitignore
  packages/scope1/behat.yml
  packages/scope1/codecov.yml
  packages/scope1/composer.json
  packages/scope1/composer.lock
Due: php-jsonrpc/poc-monorepo-pkg1

Improve
  .github/workflows/package-CI.yaml
  packages/scope1/Makefile
  packages/scope1/behat.yml
  packages/scope1/composer.json
  packages/scope1/composer.lock
  packages/scope1/phpcs.xml.dist
  packages/scope1/phpunit.xml.dist
  packages/scope1/test.php
  packages/scope1/tests/DummyTest.php
Due: php-jsonrpc/poc-monorepo-pkg1

Fix
  packages/scope1/tests/Behat/Context/DummyContext.php
Due: php-jsonrpc/poc-monorepo-pkg1

Add CI
  .github/actions/find-updated-packages/action.yaml
Due: none

Improve
  packages/scope1/codecov.yml
Due: php-jsonrpc/poc-monorepo-pkg1

Fix MD issues
  packages/scope1/CODE_OF_CONDUCT.md
  packages/scope1/README.md
Due: php-jsonrpc/poc-monorepo-pkg1

Add package badges
  packages/scope1/README.md
Due: php-jsonrpc/poc-monorepo-pkg1

Improve
  packages/scope1/.gitignore
  packages/scope1/.phpstan-sources.neon
  packages/scope1/.phpstan-tests.neon
  packages/scope1/Makefile
  packages/scope1/composer.json
  packages/scope1/phpcs.xml.dist
  packages/scope1/phpunit.xml.dist
  packages/scope1/src/Model/Dummy.php
  packages/scope1/tests/PHPStan/.phpstan-sources-baseline.neon
  packages/scope1/tests/PHPStan/.phpstan-tests-baseline.neon
  packages/scope1/tests/Technical/Model/DummyTest.php
Due: php-jsonrpc/poc-monorepo-pkg1

TMP
  .github/workflows/push-to-package-maintenance-branches.yaml
  packages/scope1/composer.json
Due: php-jsonrpc/poc-monorepo-pkg1

Improve
  packages/scope1/changelogs/.gitignore
  packages/scope1/changelogs/config.yaml
Due: php-jsonrpc/poc-monorepo-pkg1

Path conditions:
  php-jsonrpc/poc-monorepo-pkg1: any of: packages/scope1/**
  macrorepo: any of: builder/**
