Repository php-jsonrpc/poc-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: php-jsonrpc/poc-monorepo-pkg1, macrorepo

codecov.yml:

codecov:
  bot: "codecov-io"

coverage:
  range: "80...100"

flags:
  nightly:
    joined: false

comment:
  layout: "header, diff, flags, files, components"  # show component info and file info in the PR comment
  show_carryforward_flags: true

github_checks:
  annotations: true

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: scope1
      name: php-jsonrpc/poc-monorepo-pkg1
      paths:
        - packages/scope1/**
    - component_id: macrorepo
      name: macrorepo
      paths:
        - builder/**
      statuses: # the core component has its own statuses
        - type: project
          target: auto
        - type: patch

Remove useless
  .github/workflows/push-to-package-maintenance-branches.yaml
Due: none

Add scope1 package (#1)
  packages/scope1/.composer-require-checker.json
  packages/scope1/.gitignore
  packages/scope1/.phpstan-sources.neon
  packages/scope1/.phpstan-tests.neon
  packages/scope1/.remarkignore
  packages/scope1/.remarkrc
  packages/scope1/CODE_OF_CONDUCT.md
  packages/scope1/LICENSE
  packages/scope1/Makefile
  packages/scope1/README.md
  packages/scope1/behat.yml
  packages/scope1/changelogs/.gitignore
  packages/scope1/changelogs/Makefile
  packages/scope1/changelogs/config.yaml
  packages/scope1/changelogs/fragments/.gitkeep
  packages/scope1/changelogs/fragments/20230518_210919_yoanm.yml
  packages/scope1/codecov.yml
  packages/scope1/composer.json
  packages/scope1/features/dummy.feature
  packages/scope1/phpcs.xml.dist
  packages/scope1/phpunit.xml.dist
  packages/scope1/src/Model/Dummy.php
  packages/scope1/tests/Behat/Context/DummyContext.php
  packages/scope1/tests/PHPStan/.phpstan-sources-baseline.neon
  packages/scope1/tests/PHPStan/.phpstan-tests-baseline.neon
  packages/scope1/tests/Technical/Model/DummyTest.php
Due: php-jsonrpc/poc-monorepo-pkg1

Fix
  .github/workflows/CI.yaml
  .github/workflows/update-package-develop-branches.yaml
Due: none

Fix (#9)
  .github/workflows/CI.yaml
  .github/workflows/update-package-develop-branches.yaml
Due: none

Fix
  .github/workflows/CI.yaml
  .github/workflows/list-packages.yaml
  .github/workflows/php-package-CI.yaml
  .github/workflows/update-package-develop-branches.yaml
  .github/workflows/validate-github-action-configs.yaml
Due: none

Fix (#10)
  .github/workflows/CI.yaml
  .github/workflows/list-packages.yaml
  .github/workflows/php-package-CI.yaml
  .github/workflows/update-package-develop-branches.yaml
  .github/workflows/validate-github-action-configs.yaml
Due: none

Try rebase
  .github/workflows/update-branch.yaml
Due: none

fast forward only
  .github/workflows/update-branch.yaml
Due: none

Test develop branches sync
  packages/scope1/changelogs/fragments/20230603_171738_yoanm.yml
Due: php-jsonrpc/poc-monorepo-pkg1

Test develop branches sync (#11)
  packages/scope1/changelogs/fragments/20230603_171738_yoanm.yml
Due: php-jsonrpc/poc-monorepo-pkg1

Fix branch creation
  .github/workflows/update-branch.yaml
Due: none

Fix branch creation (#12)
  .github/workflows/update-branch.yaml
Due: none

Improve
  .github/workflows/CI.yaml
  .github/workflows/list-packages.yaml
  .github/workflows/update-package-develop-branches.yaml
  packages/scope1/changelogs/fragments/20230603_171738_yoanm.yml
Due: php-jsonrpc/poc-monorepo-pkg1

Remove useless
  builder/src/Command/ListPackagesCommand.php
  builder/src/Helper/PackageHelper.php
  builder/src/Model/Package.php
  builder/src/Model/Package/State.php
Due: macrorepo

Improve
  .github/workflows/list-packages.yaml
  builder/src/Command/ListPackagesCommand.php
Due: macrorepo

Improve
  .github/actions/list-packages/action.yaml
  .github/actions/resolve-packages-state/action.yaml
  .github/workflows/list-packages.yaml
  builder/src/Command/ListPackagesCommand.php
Due: macrorepo

Fix
  .github/workflows/list-packages.yaml
  .github/workflows/update-package-develop-branches.yaml
Due: none

Improve
  .github/actions/resolve-packages-state/action.yaml
  .github/workflows/list-packages.yaml
Due: none

Improve (#13)
  .github/actions/list-packages/action.yaml
  .github/actions/resolve-packages-state/action.yaml
  .github/workflows/CI.yaml
  .github/workflows/list-packages.yaml
  .github/workflows/update-package-develop-branches.yaml
  builder/src/Command/ListPackagesCommand.php
  builder/src/Helper/PackageHelper.php
  builder/src/Model/Package.php
  builder/src/Model/Package/State.php
  packages/scope1/changelogs/fragments/20230603_171738_yoanm.yml
Due: php-jsonrpc/poc-monorepo-pkg1, macrorepo

Fix
  .github/workflows/list-packages.yaml
Due: none

Fix (#14)
  .github/workflows/list-packages.yaml
Due: none

Fix (#15)
  .github/workflows/list-packages.yaml
Due: none

Fix (#16)
  .github/workflows/list-packages.yaml
  .github/workflows/update-package-develop-branches.yaml
Due: none

Fix
  .github/workflows/update-branch.yaml
Due: none

Fix (#17)
  .github/workflows/update-branch.yaml
Due: none

Fix
  .github/workflows/update-branch.yaml
  .github/workflows/update-package-develop-branches.yaml
Due: none

Remove test
  .github/workflows/update-package-develop-branches.yaml
Due: none

Improve
  .github/workflows/update-branch.yaml
Due: none

Fix (#18)
  .github/workflows/update-branch.yaml
Due: none

Fix (#19)
  .github/workflows/update-branch.yaml
Due: none

Test
  .github/workflows/update-package-develop-branches.yaml
Due: none

Test
  .github/workflows/update-branch.yaml
Due: none

Test (#20)
  .github/workflows/update-branch.yaml
Due: none
